[Unit]
Description = Motion Network Video Recorder Server 
After=network.service
Wants = network-online.target

[Service]
ExecStart=/home/andre/motion_server_nvr/run_motion_nvr.sh
ExecStop=/usr/bin/pkill -f motion_nvr.py && /usr/bin/pkill -f motiond
Type=forking

[Install]
WantedBy=multi-user.target
