[Unit]
After=network.service

[Service]
ExecStart=/home/andre/motion_server_nvr/run_motion_nvr.sh
ExecStop=pkill -f motion_nvr.py && pkill -f motiond

[Install]
WantedBy=default.target

