[Unit]
Description = Motion Network Video Recorder Server 
After=network.service
Wants=network-online.target

[Service]
User=andre
Group=www-data
Restart=always
WorkingDirectory=/home/andre
ExecStart=/home/andre/motion_server_nvr/motion_nvr.py -d /mnt/motion_data -s /home/andre

[Install]
WantedBy=multi-user.target
