[Unit]
Description=Mount My Motion NFS Share
After=network-online.target
Requires=network-online.target

[Mount]
What=192.168.0.45:/mnt/motion
Where=/mnt/motion
Type=nfs
Options=rw,auto,nofail,noatime,nolock,intr,tcp,actimeo=1800,retry=forever,timeo=600

[Install]
WantedBy=multi-user.target
