[Unit]
Description = Motion Network Video Recorder Server 
After=network.service
Requires=network-online.target
Requires=mnt-motion.mount 
RequiresMountsFor=/mnt/motion

[Service]
User=andre
Group=andre
Restart=always
WorkingDirectory=/usr/local/etc/motion
ExecStart=/usr/local/bin/motiond -n 
# setting -n non-daemon just to make sure 

[Install]
WantedBy=multi-user.target
