[Unit]
Description = Motion NVR Helper
# systemctl list-units --type=mount # to list mount 'services' as a dependecy
After=network.service motion.service
Wants=network-online.target

[Service]
User=ubuntu
Group=www-data
Restart=always
ExecStart=/usr/bin/motion_helper.py -d {{ motion_storage_dir }} -m {{ motion_storage_size }}
RestartSec=900
# 15 minutes to restart in crazy failures on booting

[Install]
WantedBy=multi-user.target

