[Unit]
Description=Mount overlay read only (RAM) layer on folders 

[Service]
User=root
ExecStart=/usr/bin/ro_overlay.sh start 
Type=oneshot
RemainAfterExit=yes
ExecStop=/usr/bin/ro_overlay.sh stop

[Install]
WantedBy=multi-user.target
