[Unit]
Description = Motion Network Video Recorder Server 
After=network.service motion_helper.service
Wants=network-online.target

[Service]
User=andre
Group=www-data
Restart=always
WorkingDirectory=/home/andre/motion_server_nvr/motion_config
ExecStart=/usr/local/bin/motiond -d 7

[Install]
WantedBy=multi-user.target
