[Unit]
Description = Motion Network Video Recorder Server 
After=network.service motion_helper.service
Wants=network-online.target

[Service]
User=andre
Group=www-data
Restart=always
WorkingDirectory=/usr/local/etc/motion
ExecStart=/usr/local/bin/motiond -n 
# setting -n non-daemon just to make sure 

[Install]
WantedBy=multi-user.target
